fastapi
uvicorn[standard]
pymongo
python-dotenv
pydantic
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
python-multipart
requests
pyspark
numpy
pandas
scikit-learn
textblob
nltk
beautifulsoup4
pillow
tesseract
youtube-transcript-api
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
pytesseract
opencv-python
seaborn
matplotlib
plotly
wordcloud
networkx